@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap'); /* Oswald */
@import url('https://fonts.googleapis.com/css?family=Crete+Round&display=swap'); /* Crete Round */
 
#inputGroup{
    margin-top: 20px;
    width: 100%;
    align-items: center;
    display: inline-block;
}

#inputGroup input, label, p{
    position: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-family: 'Crete Round';
    font-size: 23px;
}

#binary{
    border-radius: 5px;
    width: 50%;
}

#inputGroup p{
    padding: 5px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#convertBtn{
    background: #1c1f33;
    color: white;
    border-radius: 25px;
    width: 20%;
}