@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
header#main-header{
    width: 100%;
    background-color: #1c1f33;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Oswald';
    font-size: 39px;
}
